@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 128px;
}

.header .links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header .links li {
    list-style-type: none;
}

.header .links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-container {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 64px 128px;
}

.hero-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content .main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-content .subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 8px 32px;
}

.information-container {
    margin: auto 128px;
}

.information-container .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin: 36px;
    text-align: center;
}

.information-container .info-content {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 96px;
}

.info-image {
    color: gray;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.info-image img {
    border: 4px solid #3882F6;
    border-radius: 10px;
    max-height: 128px;
    max-width: 128px;
}

.quotes-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 96px 128px;
}

.quote {
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.attribution {
    align-self: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: 800;
}

.action-container {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 96px 128px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.action-content .main {
    color: #F9FAF8;
    font-size: 24px;
}

.action-content .subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.action-container button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 8px 32px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    padding: 32px;
}